:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #404bbf;
  --white-color: #ffffff;
  --blue-color-button: #4d5ae5;
  --white-color-with-shadow: #f4f4fd;
  --card-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --anamation-cards: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--title-text-color);
  background-color: var(--white-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;

  font-family: Raleway;
  color: var(--blue-color-button);
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo .accent {
  color: var(--title-text-color);
}

.element.style {
  color: var(--accent-color);
}
/* Site nav */

.header-nav {
  display: flex;
  margin-right: auto;
}

.menu-open {
  padding: 0;
  background-color: transparent;
  border: none;
}

.menu-icon-open {
  stroke: #000;
  display: block;
  background-color: transparent;
  height: 22px;
  align-items: center;
  transition: stroke 250ms var(--transition-func);
}

.menu-icon-open:is(:hover, :focus) {
  stroke: var(--accent-color);
}

/* MOBILE MENU!!!!!!!!!!!!!!!!!!!!!!! */

.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  background-color: var(--white-color);
  padding: 80px 40px 40px 40px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    viibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.mobile-menu-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 40px;
  right: 40px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid #d9d9d9;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile-menu-close:is(:hover, :focus) {
  background-color: var(--accent-color);
  fill: #ffffff;
  border: none;
}

.mobile-site-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-site-nav a {
  font-weight: 700;
  text-decoration: none;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-auth-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: auto;
}

.mobile-mob {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.11;
  letter-spacing: normal;
  text-decoration: none;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-adress {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-link:is(:hover, :focus, :active),
.mobile-mob:is(:hover, :focus, :active),
.mobile-adress:is(:hover, :focus, :active) {
  color: var(--accent-color);
}

.mobile-sicial-list {
  margin: 48px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.mobile-social-link {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--blue-color-button);
  justify-content: center;
  align-items: center;
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-link:is(:hover, :focus) {
  background-color: var(--accent-color);
}

.mobile-social-icon {
  fill: var(--white-color-with-shadow);
}

.mob-soc-list {
  width: 40px;
  height: 40px;
}

/* Hero */

.hero {
  background-color: var(--title-text-color);
  text-align: center;
  padding: 112px 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mobile-1px-min.png);
}

.hero-title {
  display: block;
  margin: 0 auto;
  margin-bottom: 72px;
  text-align: center;

  color: var(--white-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 319px;
  text-transform: capitalize;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

.button {
  min-width: 169px;
  padding: 16px 32px;
  display: inline-block;
  border-radius: 4px;
  border: none;

  color: var(--white-color);
  background-color: var(--blue-color-button);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Sections  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Characteristics*/

.list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  gap: 72px 16px;
}

.list-item {
  width: 100%;
  margin-bottom: 72px;
}

.list :last-child {
  margin-bottom: 0;
}

.charscteristics-icon {
  display: none;
}

.list-title {
  margin-bottom: 8px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.list-text {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list .list-title {
  margin-top: 0;
  margin-bottom: 8px;
}

.list .list-text {
  margin-top: 0;
}

/* What are we doing */

.section-work {
  display: none;
}

/* .container-work {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
} */

/* Team */

.container-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 72px 16px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}

.section-color {
  background-color: var(--white-color-with-shadow);
}

.container-team > .flex-el-team {
  /* flex-basis: calc(100 / 4); */
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.card-content {
  padding: 32px 16px;
  text-align: center;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 8px;

  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--blue-color-button);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-team {
  fill: var(--white-color-with-shadow);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);

  animation: shake 2s;
}

@keyframes shake {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }

  10%,
  30% {
    transform: rotate(-10deg);
  }

  20%,
  40% {
    transform: rotate(10deg);
  }
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ////////////customers/////////////// */

.customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 0;
  margin: 0; */

  /* align-items: center;
  gap: 24px;
  width: 100%;
  height: 100%; */

  gap: 72px 16px;
}

.customers-link {
  display: flex;
  border: 1px solid currentColor;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #8e8f99;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-svg {
  fill: currentColor;
  width: 104px;
  height: 56px;
}

/* Portfolio */

/*__________BUTTONS Filtrs___________- */

.section-secondary {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filtrs {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.filtrs .filtrs-item:not(:last-child) {
  margin-right: 24px;
}

.button-header {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--blue-color-button);
  cursor: pointer;
  font-family: inherit;
  background-color: var(--white-color-with-shadow);
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtrs .button-header:active {
  color: var(--white-color);
  background: var(--accent-color);
}

.button-header:hover,
.button-header:focus {
  color: var(--white-color);
  background-color: #404bbf;
  box-shadow: var(--card-shadow);
}

/* _________________CARDS_________________ */

.container-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-top: -48px;
}

.container-list > .cards-list {
  flex-basis: calc(100 / 3-48px);
  margin-left: 24px;
  margin-top: 48px;
}

.cards-list {
  cursor: pointer;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-cards {
  position: absolute;
  display: flex;
  padding-top: 40px;
  padding-left: 32px;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--white-color-with-shadow);
  background-color: var(--blue-color-button);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover .overlay-cards,
.cards-link:focus .overlay-cards {
  transform: translateY(0);
}

.cards-link {
  display: block;
  text-decoration: none;
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:is(:hover, :focus) {
  box-shadow: var(--card-shadow);
}

.div-header-paragraf {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
}

.team-text {
  margin-top: 8px;
}

/* _________FOOTER___________ */

.footer {
  background-color: var(--title-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-wrap {
  /* display: flex; */
  width: 100%;
}

.footer-first {
  /* margin-right: 120px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  width: 264px;
}

.footer-text {
  color: #e7e9fc;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 264px;
}

.logo .accent-footer {
  color: var(--white-color-with-shadow);
}

.logo-footer {
  padding: 0;
  margin-bottom: 16px;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.footer-header {
  margin-bottom: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--white-color);
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  /* margin-top: 8px;
  margin-bottom: 32px; */
  gap: 24px;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.footer-soc-link {
  width: 40px;
  height: 40px;
  margin-bottom: 72px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-footer {
  width: 24px;
  fill: var(--color2, #f4f4fd);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  fill: var(--white-color-with-shadow);
  background-color: #31d0aa;

  animation: shake 2s;
}

@keyframes shake {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }

  10%,
  30% {
    transform: rotate(-10deg);
  }

  20%,
  40% {
    transform: rotate(10deg);
  }
}

.footer-form {
  /* margin-left: 80px; */
  display: flex;
  flex-direction: column;
  text-align: center;
  width: auto;
}

.form-subscribe {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.input-suscribe {
  padding: 8px 16px;
  margin-bottom: 16px;
  margin-top: 16px;
  display: block;
  color: #ffffff;
  background: none;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 40px;
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-suscribe::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.input-suscribe:focus {
  border-color: var(--brand-main-btn-hover);
}

.footer-button {
  width: 165px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  padding: 0;
  font-size: 16px;
  letter-spacing: 0.04em;
}

.icon-subscribe {
  width: 24px;
  height: 20px;
  margin-left: 16px;
}

/*---------------- MODAL WINDOW-------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.9) linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 24px;
  padding-top: 72px;

  width: 408px;
  min-height: 584px;

  background-color: #fcfcfc;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  fill: currentColor;
  width: 8px;
  height: 8px;
  transition: currentColor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:is(:hover, :focus) {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.form {
  display: flex;
  flex-direction: column;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--blue-color-button);
}

.modal-input:focus + .modal-icon-svg {
  fill: var(--blue-color-button);
}

.modal-label {
  margin-bottom: 8px;
}

.modal-input-text-name {
  display: block;
  font-size: 12px;
  color: #8e8f99;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
}

.modal-input-text {
  display: block;
  font-size: 12px;
  color: #8e8f99;
  margin-bottom: 4px;
  letter-spacing: 0.02em;
}

.input-wrap {
  position: relative;
  display: block;
}

.modal-icon-svg {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translate(0, -50%);
  display: block;
  width: 18px;
  height: 24px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-message {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: transparent;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-message::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-message:focus {
  outline: none;
  border-color: var(--brand-main-btn-back);
}

.input-text-label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.modal-field-message {
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 24px;
}

.checkbox-text {
  display: flex;
  font-size: 12px;
  letter-spacing: 0.04em;
  align-items: center;
  line-height: 1.17;

  color: #757575;
}

.checkbox-text::before {
  content: '';
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
}

.input-checkbox:checked + .checkbox-text::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.input-checkbox:focus + .checkbox-text::before {
  border-color: var(--accent-color);
}

.policy-style {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.button-modalform {
  width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
}
